html body {
    background-color: antiquewhite;
}

#back {
    font-size: 20px;
    text-decoration: none;
    color: blue;
}

#back:hover {
    font-size: 25px;
}

#trafficLight1 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: black;
}

#trafficLight2 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: black;
}

#trafficLight3 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: black;
}